<header>
    <div class="logo">Spendio</div>
    <nav>
        <a routerLink="/" class="nav-btn primary">← Back to Home</a>
    </nav>
</header>


<div class="header">
    <div class="stat-box">
        <h3>Monthly Salary</h3>
        <p id="total-salary">LKR 0.00</p>
    </div>
    <div class="stat-box">
        <h3>Remaining Balance</h3>
        <p id="current-balance" style="color: var(--primary);">LKR 0.00</p>
    </div>
    <div class="stat-box">
        <h3>Total Planned</h3>
        <p id="total-planned" style="color: var(--pending);">LKR 0.00</p>
    </div>
</div>